<%= form_for [@project, @ticket] do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :asset, "File" %>
    <%= f.file_field :asset %>
  </p>
  <%= f.submit %>
<% end %>
