<%= form_for [@project, @ticket] do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <% number = 0 %>
  <%= f.fields_for :assets do |asset| %>
    <p>
      <%= asset.label :asset, "File ##{number += 1}" %>
      <%= asset.file_field :asset %>
    </p>
  <% end %>
  <%= f.submit %>
<% end %>
